body {
    background: #252525;
    font-family: 'Lato', sans-serif;
    color: #3b3a36;
    padding: 0;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.game-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.place-bet-headline {
    color: #fff;
    padding: 15px 10px;
    height: 50px;

    .title {
        float: left;
    }

    .extra {
        float: right;
    }
}

.preloader {
    background: #252525;
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.ng-leave {
        transition: 0.3s all cubic-bezier(0.215, 0.61, 0.355, 1);
        opacity: 1;
    }

    &.ng-leave.ng-leave-active {
        opacity: 0;
    }
}

.header {
    padding: 10px;
    color: #ffc796;

    font-size: 4vw;
    @include respond-to(mob_s) {
        font-size: 20px;
    }

    .chips {
        float: right;

        .icon {
            $imgChipsWidth: 26;
            $imgChipsHeight: 26;
            $imgChipsLeft: 239;
            $imgChipsTop: 181;

            width: 18px;
            height: 18px;
            background-image: url(../img/game_area.png);
            background-size: unquote( ( $gameAreaImgWidth / $imgChipsWidth * 100) + '%') unquote(($gameAreaImgHeight / $imgChipsHeight * 100) + '%');
            background-position: unquote( ( $imgChipsLeft / ( $gameAreaImgWidth - $imgChipsWidth) * 100) + '%') unquote(( $imgChipsTop / ( $gameAreaImgHeight - $imgChipsHeight) * 100) + '%');

            display: inline-block;
            vertical-align: middle;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}