$gameAreaImgWidth: 480;
$gameAreaImgHeight: 790;

$imgCheckWith: 67;
$imgCheckHeight: 67;
$imgCheckTop: 181;

$imgCancelWith: 67;
$imgCancelHeight: 67;
$imgCancelLeft: 86;
$imgCancelTop: 181;

$imgWinnerPlayerWidth:160;
$imgWinnerPlayerHeight:100;
$imgWinnerPlayerLeft: 0;
$imgWinnerPlayerTop: 265;

$imgWinnerBankerWidth:160;
$imgWinnerBankerHeight:100;
$imgWinnerBankerLeft: 160;
$imgWinnerBankerTop: 265;

$imgWinnerTieWidth:160;
$imgWinnerTieHeight:100;
$imgWinnerTieLeft: 320;
$imgWinnerTieTop: 265;

.timer-wrapper {
    border-top: 2px solid #6c4225;
    text-align: center;
    padding: 3px 5px;
    height: 12vw; // min-height: 25px;
    color: #fff;
    font-size: 4vw;    
    @include respond-to(mob_s) {
        height: 50px;
        font-size: 20px;
    }

    .timer {
        width: 20%;
        display: inline-block;
        height: 100%;
        padding: 1%;
        margin: 0 3%;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666565+1,292929+100 */
        background: #666565;
        /* Old browsers */
        background: -moz-linear-gradient(top, #666565 1%, #292929 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #666565 1%, #292929 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #666565 1%, #292929 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666565', endColorstr='#292929', GradientType=0);
        /* IE6-9 */
        .timer-inner {
            height: 100%;
            background-color: #484848;
            box-shadow: inset 0 0 9px rgba(#000, .6), inset 0 0 1px rgba(#fff, .6);

            &:after {
                display: inline-block;
                content: "";
                height: 100%;
                vertical-align: middle;
                margin-left: -5px;
                width: 1px;
            }

            span {
                vertical-align: middle;
            }
        }
    }

    .bet-limit{
        display: inline-block;
    }

    .game-number{
        display: inline-block;
    }

}


.all-board {
    position: relative;

    .info-wrapper {

        z-index: 100000;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 80%;
        max-width: 400px;
        max-height: 300px;
        background-color: rgba(#000, .5);
        @include transform( translate(-50%, -50%));
        border-radius: 10px;


        &.ng-enter {
            @include transition( 0.3s all cubic-bezier(0.215, 0.61, 0.355, 1));
            opacity: 0;
        }

        &.ng-enter.ng-enter-active {
            opacity: 1;
        }

        &.ng-leave {
            @include transition( 0.3s all cubic-bezier(0.215, 0.61, 0.355, 1));
            opacity: 1;
        }

        &.ng-leave.ng-leave-active {
            opacity: 0;
        }

        .info {
            position: relative;
            height: 100%;
            .text {
                left: 0;
                width: 100%;
                top: 50%;
                position: absolute;
                text-align: center;
                color: #ffff54;
                @include transform ( translate(0, -50%));
                font-size: 5.5vw;

                @include respond-to(mob_s) {
                    font-size: 25px;
                }
            }
        }
    }
}

.aspect-board::before {
    padding-top: unquote( (160 / 480 * 100) + '%');
}

.board {
    background-image: url(../img/game_area.png);
    background-size: 100% auto;
    height: 100%;
    position: relative;

    .sep {
        border-color: #f9df4b;
        border-style: solid;
        position: absolute;
    }

    .sep1 {
        border-top-width: 2px;
        top: 0;
        width: 100%;
    }

    .sep2 {
        border-top-width: 2px;
        top: 37%;
        width: 100%;
    }

    .sep3 {
        border-left-width: 2px;
        left: 25%;
        top: 0%;
        height: 37%;
    }

    .sep4 {
        border-left-width: 2px;
        left: 50%;
        top: 0%;
        height: 37%;
    }

    .sep5 {
        border-left-width: 2px;
        left: 75%;
        top: 0%;
        height: 37%;
    }


    .sep6 {
        border-left-width: 2px;
        left: 39%;
        top: 37%;
        height: 57%;
    }

    .sep7 {
        border-left-width: 2px;
        right: 39%;
        top: 37%;
        height: 57%;
    }


    .bet {
        position: absolute;
        cursor: pointer;

        .bet-inner {
            position: relative;
            height: 100%;
        }

        .text {
            position: absolute;
            font-weight: bold;
            text-shadow: 0px 0px 1px rgba(#000, .3);
        }

        .coeff {
            position: absolute;
            color: #fff;
            font-weight: bold;
        }
    }

    .bet-overlay {
        position: absolute;
        cursor: pointer;
        z-index: 10000;
        background-color: rgba(#000, 0.01)
    }

    .bet1 {
        left: 0;
        width: 50%;
        height: 37%;
        top: 0%;
        .text {
            font-size: 6vw;
            color: #57b0f8;
            top: 50%;
            left: 35%;
            @include transform( translate(0, -50%));

            @include respond-to(mob_s) {
                font-size: 30px;
            }
        }
        .coeff {
            bottom: 20%;
            right: 7%;
            font-size: 4vw;

            @include respond-to(mob_s) {
                font-size: 20px;
            }
        }
    }

    .bet2 {
        left: 50%;
        width: 50%;
        height: 37%;
        top: 0%;
        .text {
            font-size: 6vw;
            color: #ff0100;
            top: 50%;
            left: 35%;
            @include transform( translate(0, -50%));

            @include respond-to(mob_s) {
                font-size: 30px;
            }
        }
        .coeff {
            font-size: 4vw;
            bottom: 20%;
            right: 7%;
            @include respond-to(mob_s) {
                font-size: 20px;
            }
        }
    }

    .bet3 {
        left: 0%;
        width: 39%;
        height: 57%;
        top: 37%;
        .text {
            font-size: 10vw;
            color: #ff0100;
            top: 50%;
            left: 0%;
            width: 60%;
            text-align: center;
            @include transform( translate(0, -50%));

            @include respond-to(mob_s) {
                font-size: 50px;
            }
        }
        .coeff {
            font-size: 5vw;
            bottom: 15%;
            right: 9%;
            @include respond-to(mob_s) {
                font-size: 25px;
            }
        }
    }

    .bet4 {
        left: 39%;
        width: 22%;
        height: 57%;
        top: 37%;
        .text {
            font-size: 7vw;
            color: #85cb3d;
            top: 15%;
            left: 0;
            width: 100%;
            text-align: center;
            @include respond-to(mob_s) {
                font-size: 35px;
            }
        }
        .coeff {
            font-size: 4vw;
            bottom: 7%;
            left: 0;
            width: 100%;
            text-align: center;
            @include respond-to(mob_s) {
                font-size: 20px;
            }
        }
    }

    .bet5 {
        right: 0%;
        width: 39%;
        height: 57%;
        top: 37%;
        .text {
            font-size: 10vw;
            color: #ff0100;
            top: 50%;
            width: 60%;
            text-align: center;
            @include transform( translate(0, -50%));
            @include respond-to(mob_s) {
                font-size: 50px;
            }
        }
        .coeff {
            font-size: 5vw;
            bottom: 15%;
            right: 9%;
            @include respond-to(mob_s) {
                font-size: 25px;
            }
        }
    }

    .chips-stack {
        width: 10%;
        position: absolute;
    }

    .chips-stack-1 {
        right: 53%;
        bottom: 64%;
    }

    .chips-stack-2 {
        right: 3%;
        bottom: 64%;
    }

    .chips-stack-3 {
        right: 64%;
        bottom: 6%;
    }

    .chips-stack-4 {
        right: 45%;
        bottom: 6%;
    }

    .chips-stack-5 {
        right: 7%;
        bottom: 6%;
    }
}


.aspect-chip-placed::before {
    padding-top: 73%;
}



.chips-placed-wrapper {

    .info {
        position: absolute;
        z-index: 1000;
        text-align: center;
        color: #fff;
        bottom: 0;
        background-color: rgba(#000, 0.5);
        left: 50%;
        @include transform( translate(-50%, -100%));
        border-radius: 5px;
        font-size: 2.7vw;
        @include transition( all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1));

        @include respond-to(mob_s) {
            font-size: 16px;
        }

        .text {
            position: relative;
            padding: 4px 8px;

            &:after {
                position: absolute;
                border: solid transparent;
                border-top-color: rgba(#000, .5);
                border-width: 6px;
                margin-left: -6px;
                content: " ";
                height: 0;
                width: 0;
                top: 100%;
                left: 50%;
            }
        }
    }

    .chips-placed-content {
        position: relative;
        height: 100%;
    }

    .chip {
        background-image: url(../img/chips_placed.png);
        background-size: 100% auto;
        position: absolute;
        width: 100%;
        bottom: 0%; // violet
        &.v500 {
            background-position: 0 11.3%;
        } // dark-yellow
        &.v1000 {
            background-position: 0 22.3%;
        } // brown
        &.v5000 {
            background-position: 0 33.3%;
        } // rose
        &.v10000 {
            background-position: 0 0.3%;
        } // blue
        &.v50000 {
            background-position: 0 44.5%;
        }


        @for $i from 2 through 20 {
            &:nth-child(#{$i}) {
                bottom: unquote( (#{($i - 1) * 20 }))+'%';
                z-index: #{$i};
            }
        }
    }
}

.aspect-chips-wrapper::before {
    padding-top: 26%;
}


.chips-wrapper {
    border: 2px solid #6c4225;
    border-bottom: 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: #121212;
    height: 100%;

    .sep {
        position: absolute;
        height: 1px;
        background-color: #383838;
        top: 50%;
        left: 2.5%;
        right: 2.5%;
    }

    .chip {
        margin: 0 2px 2px 0;
        width: 12.5%; // background-color: #dedede;
        border: 2px solid transparent;
        background-image: url(../img/chips.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        top: 2.5%;
        cursor: pointer;
        @include transition( all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1));

        &.selected {
            border-color: #8b7865;
        } // violet
        &.v500 {
            background-position: 0 11.3%;
            left: 6%;
        } // dark-yellow
        &.v1000 {
            background-position: 0 22.3%;
            left: 23%;
        } // brown
        &.v5000 {
            background-position: 0 33.3%;
            left: 40%;
        } // rose
        &.v10000 {
            background-position: 0 0.3%;
            left: 57%;
        } // blue
        &.v50000 {
            background-position: 0 44.5%;
            left: 74%;
        }

        .chip-inner {
            position: relative;
            height: 100%;
        }

        .text {
            width: 100%;
            left: 0%;
            top: 50%;
            position: absolute;
            color: #fff;
            font-weight: bold;
            font-size: 3.3vw;
            text-shadow: 0px 0px 2px rgba(#000, .4);
            text-align: center;
            @include transform( translate(0, -50%));

            @include respond-to(mob_s) {
                font-size: 16px;
            }
        }
    }

    .button {
        position: absolute;
        width: 28%;
        height: 38%;
        background: #757575;
        top: 56.5%;
        border: 2px solid #a7a7a7;
        color: #fff;
        @include transition( 0.3s all cubic-bezier(0.215, 0.61, 0.355, 1));

        &.active {
            cursor: pointer;
            background-color: #76150c;
            border-color: #e83323;
        }

        .icon {
            margin-left: 10%;
            width: 25%;
            display: inline-block;
            vertical-align: middle;

            .aspect-cont {
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                vertical-align: middle;
                background-image: url(../img/game_area.png);
                background-size: unquote( ( $gameAreaImgWidth / $imgCheckWith * 100) + '%') unquote(($gameAreaImgHeight / $imgCheckHeight * 100) + '%');
            }
        }

        &:after {
            display: inline-block;
            content: "";
            width: 1px;
            height: 100%;
            vertical-align: middle;
        }


        .text {
            margin-left: 10%;
            font-weight: bold;
            font-size: 4vw;
            display: inline-block;
            vertical-align: middle;

            @include respond-to(mob_s) {
                font-size: 20px;
            }
        }
    }

    .button-confirm {
        left: 31%;
        .aspect-cont {
            background-position: unquote( (0) + '%') unquote(( $imgCheckTop / ($gameAreaImgHeight - $imgCheckHeight) * 100) + '%');
        }
    }

    .button-cancel {
        left: 61%;
        .aspect-cont {
            background-position: unquote( ( $imgCancelLeft / ( $gameAreaImgWidth - $imgCancelWith) * 100) + '%') unquote(( $imgCancelTop / ( $gameAreaImgHeight - $imgCancelHeight) * 100) + '%');
        }
    }
}

.game-cards {
    position: absolute;
    background: rgba(#000, .6);
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 10000;

    &.ng-enter {
        @include transition( 0.3s all cubic-bezier(0.215, 0.61, 0.355, 1));
        opacity: 0;
    }

    &.ng-enter.ng-enter-active {
        opacity: 1;
    }

    &.ng-leave {
        @include transition( 0.3s all cubic-bezier(0.215, 0.61, 0.355, 1));
        opacity: 1;
    }

    &.ng-leave.ng-leave-active {
        opacity: 0;
    }

    .points-cont {
        padding: 1px;
        width: 9.5%;
        border-radius: 999px;
        position: absolute;
        z-index: 2;
        top: 50%;
        @include transform(translate(0, -50%));
        height: 55%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff87+1,ffe41f+51,feca08+100 */
        background: #ffff87;
        /* Old browsers */
        background: -moz-linear-gradient(left, #ffff87 1%, #ffe41f 51%, #feca08 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffff87 1%, #ffe41f 51%, #feca08 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffff87 1%, #ffe41f 51%, #feca08 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff87', endColorstr='#feca08', GradientType=1);
        /* IE6-9 */
        box-shadow: 0 0 3px #fff inset;
        text-shadow: 1px 1px 1px rgba(#000, .2);


        &.user {
            left: 2%;
            .title {
                color: #57b1f9;
            }
        }

        &.banker {
            right: 2%;
            .title {
                color: #d6352b;
            }
        }


        .relative {
            height: 100%;
        }

        .title {
            font-weight: bold;
            font-size: 7vw;
            text-align: center;
            padding: 39% 0 0 0;
            height: 50%;

            @include respond-to(mob_s) {
                font-size: 35px;
            }
        }

        .points {
            height: 50%;
            background-color: red;
            border-radius: 999px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#988c2b+1,867423+51,724f17+100 */
            background: #988c2b;
            /* Old browsers */
            background: -moz-linear-gradient(top, #988c2b 1%, #867423 51%, #724f17 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #988c2b 1%, #867423 51%, #724f17 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #988c2b 1%, #867423 51%, #724f17 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#988c2b', endColorstr='#724f17', GradientType=0);
            /* IE6-9 */
            box-shadow: 0 0 1px 1px #796f21 inset;

            font-weight: bold;
            font-size: 7vw;
            color: #fff;
            text-align: center;
            padding: 39% 0 0 0;


            @include respond-to(mob_s) {
                font-size: 35px;
            }
        }
    }

    .cards {
        position: absolute;
        width: 28%;
        height: 56%;
        padding: 1%;
        border: 1px solid transparent;
        top: 30%;
        z-index: 2;


        &.active {
            background-color: rgba(#fcf6d2, 0.4);
            border-color: #c0b872;
        }

        &.user {
            left: 15%;
        }

        &.banker {
            right: 15%;
        }


        .card-wrap {
            float: left;
            width: 48%;
            margin: 0 1%;

            &.ng-enter {
                @include transition( 0.2s all cubic-bezier(0.215, 0.61, 0.355, 1));
                opacity: 0;
                @include transform( translate(0, -10%));
            }

            &.ng-enter.ng-enter-active {
                opacity: 1;
                @include transform( translate(0, 0));
            }

            &.ng-leave {
                @include transition( 0.3s all cubic-bezier(0.215, 0.61, 0.355, 1));
                opacity: 1;
            }

            &.ng-leave.ng-leave-active {
                opacity: 0;
            }

            &.aaa.ng-enter.ng-enter-active {
                opacity: 1;
            }
        }

        .card {
            background-size: unquote( ( $allCardsWidth / $cardWidth * 100) + '%') unquote(( $allCardsHeight / $cardHeight * 100) + '%');

            &::before {
                padding-top: unquote( $cardHeight / $cardWidth * 100) + %;
            }

            &.main {}

            &.extra {
                @include transform-origin( 50% 50%);
                @include transform( rotate(90deg) translate( -19%, -32%));
            }
        }
    }

    .winner {
        position: absolute;
        background-image: url(../img/game_area.png);
        width: 35%;
        top: 0;
        display: none;

        &.ng-enter {
            @include transition( 0.5s all cubic-bezier(0.215, 0.61, 0.355, 1));
            opacity: 0;
            @include transform( scale(0.5));
        }

        &.ng-enter.ng-enter-active {
            opacity: 1;
            @include transform( scale(1));
        }

        &.ng-leave {
            @include transition( 0.5s all cubic-bezier(0.215, 0.61, 0.355, 1));
            opacity: 1;
        }

        &.ng-leave.ng-leave-active {
            opacity: 0;
        }

        &.aaa.ng-enter.ng-enter-active {
            opacity: 1;
        }

        .aspect-box::before {
            padding-top: 62.25%;
        }

        &.player {
            display: block;
            left: 12%;
            background-size: unquote( ( $gameAreaImgWidth / $imgWinnerPlayerWidth * 100) + '%') unquote(( $gameAreaImgHeight / $imgWinnerPlayerHeight * 100) + '%');
            background-position: unquote( ( $imgWinnerPlayerLeft / ( $gameAreaImgWidth - $imgWinnerPlayerWidth) * 100) + '%') unquote(( $imgWinnerPlayerTop / ( $gameAreaImgHeight - $imgWinnerPlayerHeight) * 100) + '%');
        }

        &.banker {
            display: block;
            right: 12%;
            background-size: unquote( ( $gameAreaImgWidth / $imgWinnerBankerWidth * 100) + '%') unquote(( $gameAreaImgHeight / $imgWinnerBankerHeight * 100) + '%');
            background-position: unquote( ( $imgWinnerBankerLeft / ( $gameAreaImgWidth - $imgWinnerBankerWidth) * 100) + '%') unquote(( $imgWinnerBankerTop / ( $gameAreaImgHeight - $imgWinnerBankerHeight) * 100) + '%');
        }

        &.tie {
            display: block;
            left: 33%;
            background-size: unquote( ( $gameAreaImgWidth / $imgWinnerTieWidth * 100) + '%') unquote(( $gameAreaImgHeight / $imgWinnerTieHeight * 100) + '%');
            background-position: unquote( ( $imgWinnerTieLeft / ( $gameAreaImgWidth - $imgWinnerTieWidth) * 100) + '%') unquote(( $imgWinnerTieTop / ( $gameAreaImgHeight - $imgWinnerTieHeight) * 100) + '%');
        }
    }
}