$cardWidth: 132;
$cardHeight: 194;

$allCardsWidth: 1716;
$allCardsHeight: 776;

.card {
    background-repeat: no-repeat;
    background-image: url(../img/cards.png);
    // width: #{$cardWidth}px;
    // height: #{$cardHeight}px;


    &.h2{
        $imgLeft: $cardWidth*0; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.h3{
        $imgLeft: $cardWidth*1; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.h4{
        $imgLeft: $cardWidth*2; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.h5{
        $imgLeft: $cardWidth*3; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.h6{
        $imgLeft: $cardWidth*4; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.h7{
        $imgLeft: $cardWidth*5; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.h8{
        $imgLeft: $cardWidth*6; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.h9{
        $imgLeft: $cardWidth*7; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.h10{
        $imgLeft: $cardWidth*8; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.hj{
        $imgLeft: $cardWidth*9; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.hq{
        $imgLeft: $cardWidth*10; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.hk{
        $imgLeft: $cardWidth*11; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.ha{
        $imgLeft: $cardWidth*12; 
        $imgTop: 0;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }


    &.d2{
        $imgLeft: $cardWidth*0; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.d3{
        $imgLeft: $cardWidth*1; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.d4{
        $imgLeft: $cardWidth*2; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.d5{
        $imgLeft: $cardWidth*3; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.d6{
        $imgLeft: $cardWidth*4; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.d7{
        $imgLeft: $cardWidth*5; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.d8{
        $imgLeft: $cardWidth*6; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.d9{
        $imgLeft: $cardWidth*7; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.d10{
        $imgLeft: $cardWidth*8; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.dj{
        $imgLeft: $cardWidth*9; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.dq{
        $imgLeft: $cardWidth*10; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.dk{
        $imgLeft: $cardWidth*11; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.da{
        $imgLeft: $cardWidth*12; 
        $imgTop: $cardHeight*1;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.c2{
        $imgLeft: $cardWidth*0; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.c3{
        $imgLeft: $cardWidth*1; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.c4{
        $imgLeft: $cardWidth*2; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.c5{
        $imgLeft: $cardWidth*3; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.c6{
        $imgLeft: $cardWidth*4; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.c7{
        $imgLeft: $cardWidth*5; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.c8{
        $imgLeft: $cardWidth*6; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.c9{
        $imgLeft: $cardWidth*7; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.c10{
        $imgLeft: $cardWidth*8; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.cj{
        $imgLeft: $cardWidth*9; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.cq{
        $imgLeft: $cardWidth*10; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.ck{
        $imgLeft: $cardWidth*11; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.ca{
        $imgLeft: $cardWidth*12; 
        $imgTop: $cardHeight*2;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.s2{
        $imgLeft: $cardWidth*0; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.s3{
        $imgLeft: $cardWidth*1; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.s4{
        $imgLeft: $cardWidth*2; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.s5{
        $imgLeft: $cardWidth*3; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.s6{
        $imgLeft: $cardWidth*4; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.s7{
        $imgLeft: $cardWidth*5; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.s8{
        $imgLeft: $cardWidth*6; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.s9{
        $imgLeft: $cardWidth*7; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.s10{
        $imgLeft: $cardWidth*8; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.sj{
        $imgLeft: $cardWidth*9; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.sq{
        $imgLeft: $cardWidth*10; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.sk{
        $imgLeft: $cardWidth*11; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

    &.sa{
        $imgLeft: $cardWidth*12; 
        $imgTop: $cardHeight*3;
        background-position: unquote( ( $imgLeft / ( $allCardsWidth - $cardWidth) * 100) + '%') unquote(( $imgTop / ( $allCardsHeight - $cardHeight) * 100) + '%');
    }

}
