<div class="preloader" ng-if="loading || !imagesLoaded">
    <img src="img/loader.svg">
</div>

<div class="game-wrapper noselect">

    <div class="header clear">
        <div class="chips">
            <div class="icon"></div>
            {{ userChips }}
        </div>
    </div>

    <div class="timer-wrapper" >
        <div class="game-number">局号: {{ gameNumber }}</div><!-- round number -->
        <div class="timer" >
            <div class="timer-inner" >
                 <span ng-if="bet.canBePlaced" >{{ betPlaceTimeFormated }}</span>
                 <span ng-if="!bet.canBePlaced" >结算中</span>
            </div>
        </div>
        <div class="bet-limit">限红: {{ betLimits.text }}</div><!-- bet limit -->
    </div>

    <div class="all-board">
        <div class="aspect-box aspect-board">
            <div class="aspect-cont">
                <div class="board">
                    <div class="sep sep1"></div>
                    <div class="sep sep2"></div>
                    <!-- <div class="sep sep3" ></div> -->
                    <div class="sep sep4"></div>
                    <!-- <div class="sep sep5" ></div> -->
                    <div class="sep sep6"></div>
                    <div class="sep sep7"></div>
                    <div class="bet-overlay bet1" ng-click="placeBet(1)"></div>
                    <div class="bet bet1">
                        <div class="bet-inner">
                            <div class="text">闲对</div>
                            <div class="coeff">1:11</div>
                        </div>
                    </div>
                    <div class="bet-overlay bet2" ng-click="placeBet(2)"></div>
                    <div class="bet bet2">
                        <div class="bet-inner">
                            <div class="text">庄对</div>
                            <div class="coeff">1:11</div>
                        </div>
                    </div>
                    <div class="bet-overlay bet3" ng-click="placeBet(3)"></div>
                    <div class="bet bet3">
                        <div class="bet-inner">
                            <div class="text">闲</div>
                            <div class="coeff">1:1</div>
                        </div>
                    </div>
                    <div class="bet-overlay bet4" ng-click="placeBet(4)"></div>
                    <div class="bet bet4">
                        <div class="bet-inner">
                            <div class="text">和</div>
                            <div class="coeff">1:8</div>
                        </div>
                    </div>
                    <div class="bet-overlay bet5" ng-click="placeBet(5)"></div>
                    <div class="bet bet5">
                        <div class="bet-inner">
                            <div class="text">庄</div>
                            <div class="coeff">1:0.95</div>
                        </div>
                    </div>
                    <div baccarat-placed-chips class="chips-stack chips-stack-1" data-chips-stack="bet.chipsStacks[1]"></div>
                    <div baccarat-placed-chips class="chips-stack chips-stack-2" data-chips-stack="bet.chipsStacks[2]"></div>
                    <div baccarat-placed-chips class="chips-stack chips-stack-3" data-chips-stack="bet.chipsStacks[3]"></div>
                    <div baccarat-placed-chips class="chips-stack chips-stack-4" data-chips-stack="bet.chipsStacks[4]"></div>
                    <div baccarat-placed-chips class="chips-stack chips-stack-5" data-chips-stack="bet.chipsStacks[5]"></div>
                </div>
            </div>
        </div>
        <div class="aspect-box aspect-chips-wrapper">
            <div class="aspect-cont">
                <div class="chips-wrapper">
                    <div class="sep"></div>
                    <div class="chip v500 aspect-box" ng-click="selectChip($event,500)" ng-class="{selected: selectedChipValue === 500}">
                        <div class="aspect-cont">
                            <div class="chip-inner">
                                <div class="text">500</div>
                            </div>
                        </div>
                    </div>
                    <div class="chip v1000 aspect-box" ng-click="selectChip($event,1000)" ng-class="{selected: selectedChipValue === 1000}">
                        <div class="aspect-cont">
                            <div class="chip-inner">
                                <div class="text">1K</div>
                            </div>
                        </div>
                    </div>
                    <div class="chip v5000 aspect-box" ng-click="selectChip($event,5000)" ng-class="{selected: selectedChipValue === 5000}">
                        <div class="aspect-cont">
                            <div class="chip-inner">
                                <div class="text">5K</div>
                            </div>
                        </div>
                    </div>
                    <div class="chip v10000 aspect-box" ng-click="selectChip($event,10000)" ng-class="{selected: selectedChipValue === 10000}">
                        <div class="aspect-cont">
                            <div class="chip-inner">
                                <div class="text">10K</div>
                            </div>
                        </div>
                    </div>
                    <div class="chip v50000 aspect-box" ng-click="selectChip($event,50000)" ng-class="{selected: selectedChipValue === 50000}">
                        <div class="aspect-cont">
                            <div class="chip-inner">
                                <div class="text">50K</div>
                            </div>
                        </div>
                    </div>
                    <div class="button button-confirm" ng-class="{active:bet.canBePlaced && !bet.placed}" ng-click="confirmBet()">
                        <div class="aspect-box icon">
                            <div class="aspect-cont"></div>
                        </div>
                        <div class="text">
                            确定
                        </div>
                    </div>
                    <div class="button button-cancel" ng-class="{active:bet.canBePlaced && !bet.placed}" ng-click="cancelBet()">
                        <div class="aspect-box icon">
                            <div class="aspect-cont"></div>
                        </div>
                        <div class="text">
                            取消
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-cards" ng-if="!bet.canBePlaced">
            <div class="points-cont user">
                <div class="relative">
                    <div class="title">闲</div>
                    <div class="points">{{ playerPoints }}</div>
                </div>
            </div>
            <div class="points-cont banker">
                <div class="relative">
                    <div class="title">庄</div>
                    <div class="points">{{ bankerPoints }}</div>
                </div>
            </div>
            <div class="cards user" ng-class="{active: winner.type=='player' }">
                <div class="clear">
                    <div class="card-wrap" ng-if="playerCards[0]">
                        <div class="aspect-box card main " ng-class="playerCards[0]">
                            <div class="aspect-cont">
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap" ng-if="playerCards[1]">
                        <div class="aspect-box card main " ng-class="playerCards[1]">
                            <div class="aspect-cont">
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap" ng-if="playerCards[2]">
                        <div class="aspect-box card extra " ng-class="playerCards[2]">
                            <div class="aspect-cont">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards banker" ng-class="{active: winner.type=='banker'}">
                <div class="clear">
                    <div class="card-wrap" ng-if="bankerCards[0]">
                        <div class="aspect-box card main " ng-class="bankerCards[0]">
                            <div class="aspect-cont">
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap" ng-if="bankerCards[1]">
                        <div class="aspect-box card main " ng-class="bankerCards[1]">
                            <div class="aspect-cont">
                            </div>
                        </div>
                    </div>
                    <div class="card-wrap" ng-if="bankerCards[2]">
                        <div class="aspect-box card extra " ng-class="bankerCards[2]">
                            <div class="aspect-cont">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="winner " ng-class="winner.type" ng-if="winner.show">
                <div class="aspect-box">
                    <div class="aspect-cont">
                    </div>
                </div>
            </div>
        </div>
        <div class="info-wrapper" ng-if="info.show">
            <div class=info>
                <div class="text">
                    {{ info.text }}
                </div>
            </div>
        </div>
    </div>
</div>