<div class="chips-placed-wrapper aspect-box aspect-chip-placed">
    <div class="aspect-cont">
        <div class="chips-placed-content">
            <div class="chip v{{chipValue}}" ng-repeat="(key, chipValue) in chipsStack track by $index">
                <div class="aspect-box aspect-chip-placed">
                    <div class="aspect-cont">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info" ng-if="stackValue !== 0" style="bottom:{{chipsStack.length * 20 }}%" >
        <div class="text" >
            {{ stackValue }}
        </div>
    </div>
</div>