.aspect-box {
    position: relative;
    display: block
}

.aspect-box::before {
    content: "";
    display: block;
    padding-top: 100%
}

.aspect-cont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.aspect-box {
    position: relative;
    display: block
}

.aspect-box::before {
    content: "";
    display: block;
    padding-top: 100%
}

.aspect-cont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.aspect-board::before {
    padding-top: unquote( (160/480* 100) + '%');
}

.relative{
    position: relative;
}

.clear:before,
.clear:after {
    display: table;
    line-height: 0;
    content: "";
}
.clear:after {
    clear: both;
}
